@media screen and (min-width: 428px) {
    .container{
        width: 428px;
    }
   .first{
    background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-table.jpg);
   }
   @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .first {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url(../images/Dark-bg-tab2.jpg);
  }
}
    .footer>.container{
        width: 398px;
    }
     

} 
@media screen and (min-width: 768px) {
    .container{
        width: 768px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
       
    }
    .second>.container{
        padding-right: 16px;
        padding-left: 16px;
    }
    .first{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/people-office-desk.jpg);
       }
       @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi), 
  (min-resolution: 2dppx) {
    .first {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url(../images/people-office-desk2.jpg);
  }
}
   
    .menu-open-btn{
        display: none;
    }

    .header{
        display: flex;
        height: 72px;
       
       
    }
    .header-list{
        display: flex;
        justify-content: center;
        gap: 40px;
    }
    .header-item {
        font-weight: 500;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
     }
     .header-item:last-child{
        margin-right: 0;
     }
    .header-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text-color);
        transition: color var(--main-transition);
    }
    .header-link:hover{
        color: var(--focus-hover-color);
        }
        .header-link:focus{
        color: var(--focus-hover-color);
        }
        
    .adress-colons {
       display: flex;
       flex-direction: column;
       gap: 12px;
       margin-right: 16px;

    }
    .colons{
        margin-bottom: 0;
    }
    .header-list{
        margin-left: 120px;
        
    }
        .header-contact {
        display: flex;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.2;
        letter-spacing: 0.02em;
      gap: 8px;
        color: var(--body-color) ;
        transition: color var(--main-transition);    
    }
    
    .header-contact:hover{
        color: var(--focus-hover-color);
    }
    .header-contact:focus{
        color: var(--focus-hover-color);
    }
    
    .current{
       color: #404bbf;
    }
    .current::after{
        position: relative;
        content: '';
        background-color: var(--focus-hover-color);
       display: block;
          height: 4px;
       border-radius: 2px;
       top: 24px;   
    }
    .button-list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 24px;
    }
    .btn{

    }
    .picture-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        justify-content: start;
    }
    .picture-item{
        width: calc((100% - 24px)/2);
    }
    .first-tittle{
        width: 496px;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;                   
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--main-title-color);
        margin-bottom: 72px;
        margin-right: auto;
        margin-left: auto;   
    }
    .second{
        margin-right: auto;
        margin-left: auto;
        /* display:flex;
        flex-wrap: wrap; */

    }
    
    .second-list{
        /* flex-basis: calc((100%-24px))/2; */
        display: flex;
        flex-direction: row;
        gap: 72px 24px;
        flex-wrap: wrap;
        margin: 0;
    }
    .second-item:not(:last-child){
        margin-bottom: 0;
    }
    .second-item{
        flex-basis: calc((100% - 24px) / 2);
        margin: 0;
        /* display: flex;
      width: 356px;
      margin-right: 0;
      margin-left: 0;
      flex-wrap: wrap; */
    }
   
    .second-category {
        text-align: left;
        
    }
    .second-text{
        margin-bottom: 0;
        margin-right: 0;
        
    }
    .fourth-list{
        gap: 64px 24px;
        flex-wrap: wrap;
    }
    
    
    .fifth>.container{
        width: 582px;  
    }
    .customers-list{
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
        
    }
    .customers-item{
        width: calc((100% - 48px) / 3);
    }
    .footer>.container{
        width: 582px;
               
    }
    .footer-first{
        text-align: left;
    }
    .footer-tablet{
        display: flex;
        align-items: center;     
    }
    .footer-logo{
        text-align: left;
    }
    .footer-text{
        text-align: left;
        width: 264px;
        height: 72px;
    }
    .footer-wrap{
       margin-left: 24px;
        margin-top: -35px;
    }
    .social-media{
        text-align: left;
    }
    .footer-subscribe{
        margin-left: 20px;
    }
.subscribe-form{
    display: flex;
    width: 453px;
}
.subscribe-email{
    margin-top: 0;
    margin-right: 24px;
}
.subscribe-text{
    text-align: left;
}
.subscribe-button{
display: flex;
justify-content: center;
align-items: center; 
margin-left: auto;
margin-right: auto;
width: 165px;
height: 40px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
padding: 8px 24px;
gap: 16px;
background: #4D5AE5;
border-radius: 4px;
border: none;
cursor: pointer;
transition: background-color (var(--main-transition));
}
    .modal{
        width: 408px;
        padding: 72px 24px 24px;
    }
} 
@media screen and (min-width: 1158px){
    .container{
        width: 1158px;
    }

    .header{
        width: 1158px;
          border-bottom: 1px solid #E7E9FC;
          margin-right: auto;
          margin-left: auto;}
    .header-container{
        display: flex;
        align-items: center;
        height: 72px;
        margin-right: auto;
        margin-left: auto;
        
    }
    .header-list{
        margin-left: 0px;
        margin-right: 0px;
    }
    .header-navigation{
        display: flex;
        align-items: center;
        
    
    }
    .adress-colons{
        margin-right: 0px;
    }
    .header-link:hover{
    color: var(--focus-hover-color);
    }
    .header-link:focus{
    color: var(--focus-hover-color);
    }
    
    .studio-text{
        color: var(--text-color);    
    }
    .header-logo  {
        font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--third-tittle-color);
    text-decoration: none;
    margin-right: 76px; 
    
    }
    .header-list{
        display: flex;
        justify-content: center;
        gap: 40px;
    }
    .header-item {
        font-weight: 500;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-right: 0;
     }
     .header-item:last-child{
        margin-right: 0;
     }
    .header-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text-color);
        transition: color var(--main-transition);
    }
    .link{
        text-decoration:none;
    }
    .current{
       color: #404bbf;
    }
    .current::after{
        position: relative;
        content: '';
        background-color: var(--focus-hover-color);
       display: block;
          height: 4px;
       border-radius: 2px;
       top: 24px;
    
       
    }

    .adress-colons {
       flex-direction: row;
       gap: 40px;
    }
    .header-address {
        font-style: normal;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: unset;
        
    }
    .header-contact {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--body-color) ;
        transition: color var(--main-transition);    
    }
    
    .header-contact:hover{
        color: var(--focus-hover-color);
    }
    .header-contact:focus{
        color: var(--focus-hover-color);
    }
    .picture-item{
        width: calc((100% - 48px) / 3);
    }
    
    .first-tittle{
        width: 496px;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;                   
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--main-title-color);
        max-width: 496px;
         margin-right: auto;
        margin-left: auto; 
        margin-bottom: 48px; 
    }  
    .second>.container{
        width: 1128px;
    }
    .fifth>.container{
        width: 1158px; 
    }
    .footer>.container{
                    width: 1158px;
            padding-left: 15px;
            padding-right: 15px;
            margin-right: auto;
            margin-left: auto;
    }

    .second{
        padding-top: 120px;
        padding-bottom: 120px;  
    }
    .second-list{
        flex-wrap: nowrap;
        gap: 24px;
    }
    .second-item{
        width: calc((100% - 72px) / 4);
        margin-right: 24px;
    }
    .second-category{
        display: flex;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;  
    }
    .second-text {
        align-items: start;
        font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    }
    .third{
        display: flex;
    }
    .future-item{
        display: flex;
        justify-content: center;
    }
    .fourth{
        padding-top: 120px;
    padding-bottom: 120px;
    }
    .fourth-item{
        width: calc((100% - 72px) / 4);  
    } 
    .fourth-list {
        gap: 24px;
        flex-wrap: nowrap;
    }
    .fifth{
        padding-top: 120px;
        padding-bottom: 120px; 
    }
    .customers-list {
        display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: nowrap;
    }
    .customers-item {
        width: 168px;
    height: 88px; 
    }
    .footer-container{
        display: flex;
    }
      
    .footer{
        padding-top: 100px;
        padding-bottom: 100px;
        }
    .footer-wrap{
        margin-left: 120px;}
    .footer-subscribe{
        margin-left: 80px;
        margin-top: 0;
    }
    .subscribe-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 16px;}
}
@media screen and (min-width: 768px) and (max-width: 1157px){
    .fourth > .container{
        width: 582px;
    }
}
    